.l-column {
  display: flex;
  flex-direction: column;
}

.error-msg {
  color: #FD384E;
  line-height: 2;
  font-size: 16px;
  margin-block-end: 0;
  font-weight: bold;
}

.input-lable {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 20px;
  font-weight: bold;
}

:root {
  --grays-gray-2: #AEAEB2;
  --fills-quartternary: rgba(116, 116, 128, 0.08);
  --grays-gray-7: #FCFCFF;
}
