@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  color: #000000;
}

h1, h2, h3, h4, h5, h6, p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.headline-1 {
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
}

.headline-1 .article-headline {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem;
}

.headline-2 {
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem; /* 145.455% */
}

.headline-3 {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.menu-lable {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.menu-lable-2 {
  color: #79767D;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.input-lable-text-comment {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.tag-group-title {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem; /* 142.857% */
}

.comment-card-text {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.caption-1 {
  color: #938F96;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem; /* 166.667% */
}

.caption-2 {
  color: #938F96;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 510;
  line-height: normal;
}

.caption-3 {
  color: #48464C;
  text-align: right;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.lable-1 {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem; /* 142.857% */
}

.lable-1 mark {
  color: #FD384E;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem;
}

.lable-2 {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem; /* 142.857% */
}

.lable-2 mark {
  color: #FD384E;
}
